





.section-next {
    background-color: #977549;
    padding: 130px 10px;
    color: white;
    p {
        margin-bottom: 30px;
    }
}

.section-next-2 {
    padding: 130px 10px;
    p {
        margin-bottom: 30px;
    }
}

.section-next-3 {
    background-color: #496d97;
    padding: 130px 10px;
    color: white;
    p {
        margin-bottom: 30px;
    }
}

.section-next-4 {
    padding: 130px 10px;
    p {
        margin-bottom: 30px;
    }
}